In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 250)
pd.set_option('display.colheader_justify', 'center')

df = pd.read_csv(
    r"C:/Users/Tech-Hub Systems/Downloads/datasets_11657_16098_train (4).csv"
)

print("----- Initial Info -----")
print(df.head())
print(df.info())
print(df.describe(include='all'))

print("----- Missing Values Before Cleaning -----")
print(df.isnull().sum())

df['Age'] = df['Age'].fillna(df['Age'].median())
df['Cabin'] = df['Cabin'].fillna('Unknown')
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

df = df.drop(['PassengerId', 'Ticket'], axis=1)

df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

df = pd.get_dummies(df, columns=['Embarked'])

df['Cabin'] = df['Cabin'].apply(lambda x: x[0])
df = pd.get_dummies(df, columns=['Cabin'])

print("----- Missing Values After Cleaning -----")
print(df.isnull().sum())

print("----- Data Types -----")
print(df.dtypes)

print("----- Cleaned DataFrame -----")
print(df.head())

----- Initial Info -----
   PassengerId  Survived  Pclass                        Name                          Sex     Age  SibSp  Parch       Ticket        Fare   Cabin Embarked
0       1           0        3                              Braund, Mr. Owen Harris    male  22.0    1      0           A/5 21171   7.2500   NaN     S
1       2           1        1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1      0            PC 17599  71.2833   C85     C
2       3           1        3                               Heikkinen, Miss. Laina  female  26.0    0      0    STON/O2. 3101282   7.9250   NaN     S
3       4           1        1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1      0              113803  53.1000  C123     S
4       5           0        3                             Allen, Mr. William Henry    male  35.0    0      0              373450   8.0500   NaN     S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
        PassengerId   Survived     Pclass             Name            Sex       Age        SibSp       Parch    Ticket     Fare    Cabin Embarked
count   891.000000   891.000000  891.000000                      891   891  714.000000  891.000000  891.000000     891  891.000000   204    889
unique         NaN          NaN         NaN                      891     2         NaN         NaN         NaN     681         NaN   147      3
top            NaN          NaN         NaN  Braund, Mr. Owen Harris  male         NaN         NaN         NaN  347082         NaN    G6      S
freq           NaN          NaN         NaN                        1   577         NaN         NaN         NaN       7         NaN     4    644
mean    446.000000     0.383838    2.308642                      NaN   NaN   29.699118    0.523008    0.381594     NaN   32.204208   NaN    NaN
std     257.353842     0.486592    0.836071                      NaN   NaN   14.526497    1.102743    0.806057     NaN   49.693429   NaN    NaN
min       1.000000     0.000000    1.000000                      NaN   NaN    0.420000    0.000000    0.000000     NaN    0.000000   NaN    NaN
25%     223.500000     0.000000    2.000000                      NaN   NaN   20.125000    0.000000    0.000000     NaN    7.910400   NaN    NaN
50%     446.000000     0.000000    3.000000                      NaN   NaN   28.000000    0.000000    0.000000     NaN   14.454200   NaN    NaN
75%     668.500000     1.000000    3.000000                      NaN   NaN   38.000000    1.000000    0.000000     NaN   31.000000   NaN    NaN
max     891.000000     1.000000    3.000000                      NaN   NaN   80.000000    8.000000    6.000000     NaN  512.329200   NaN    NaN
----- Missing Values Before Cleaning -----
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
----- Missing Values After Cleaning -----
Survived      0
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
Cabin_A       0
Cabin_B       0
Cabin_C       0
Cabin_D       0
Cabin_E       0
Cabin_F       0
Cabin_G       0
Cabin_T       0
Cabin_U       0
dtype: int64
----- Data Types -----
Survived        int64
Pclass          int64
Name           object
Sex             int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Embarked_C       bool
Embarked_Q       bool
Embarked_S       bool
Cabin_A          bool
Cabin_B          bool
Cabin_C          bool
Cabin_D          bool
Cabin_E          bool
Cabin_F          bool
Cabin_G          bool
Cabin_T          bool
Cabin_U          bool
dtype: object
----- Cleaned DataFrame -----
   Survived  Pclass                        Name                         Sex   Age  SibSp  Parch   Fare    Embarked_C  Embarked_Q  Embarked_S  Cabin_A  Cabin_B  Cabin_C  Cabin_D  Cabin_E  Cabin_F  Cabin_G  Cabin_T  Cabin_U
0      0        3                              Braund, Mr. Owen Harris   0   22.0    1      0     7.2500     False       False        True     False    False    False    False    False    False    False    False     True
1      1        1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1   38.0    1      0    71.2833      True       False       False     False    False     True    False    False    False    False    False    False
2      1        3                               Heikkinen, Miss. Laina   1   26.0    0      0     7.9250     False       False        True     False    False    False    False    False    False    False    False     True
3      1        1         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1   35.0    1      0    53.1000     False       False        True     False    False     True    False    False    False    False    False    False
4      0        3                             Allen, Mr. William Henry   0   35.0    0      0     8.0500     False       False        True     False    False    False    False    False    False    False    False     True